.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  background-color: var(--color-lightgreen);
  padding: 10px 17px;
  border-radius: 30px;
  color: var(--color-blue-text);
  box-shadow: 5px 5px 0 0px var(--color-blue);
  border: 2px solid var(--color-blue);
  text-transform: capitalize;
  font-size: 1.5em;
}
