.primary {
  padding: 6px;
  border: 2px solid var(--color-blue);
  border-radius: 20px;
  display: inline-block;
  align-self: flex-end;
  color: var(--color-blue-text);
  font-weight: 500;
  cursor: pointer;
  background-color: white;
  width: 100%;
  margin-top: 5px;
}

.primary:hover {
  background-color: var(--color-blue-light);
  box-shadow: 2px 2px 0px 0px var(--color-blue);
}

.primary:focus {
  box-shadow: 0px 0px 0 5px var(--color-yellow);
}
