.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 170px;
  box-shadow: 6px 6px 0px 0px var(--color-blue);
  border-radius: 5px;
  margin: 0 20px 20px 0;
  background-color: white;
  border: 2px solid var(--color-blue);
}

.placeholdersImage {
  width: 100%;
  height: 150px;
  object-fit: none;
  border-radius: 5px;
}

.title {
  margin-top: 5px;
  font-weight: 500;
  font-size: 1.3em;
}

.badge {
  padding: 4px 8px 4px 6px;
  background-color: #a6d3ff;
  color: var(--color-blue-text-on-light-bg);
  font-size: 0.8em;
  display: flex;
  border-radius: 12px;
  margin-top: 5px;
  align-self: flex-start;
  align-items: center;
}

.badgeImage {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
